

/* CSS Document */

.top {
	width:100%;
	height:	1080px;
	background: url(../images/admin.jpg);
	 }

.logo a{
	text-align: center;
	padding-left: 40%;
}

.submit {
	float: right;
	}

*{
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

#mainnav{
  float: right;
  width: 20%;
  padding-right: 40px;
}

#mainnav ul{
  background: #FFFFFF;
  list-style: none;
  padding: 0px;
  width: 200px;
  text-align: left;
}

#mainnav ul li{
  position: relative;
  text-align:center;
  width: 400px;
  height: 40px;
  line-height: 40px;
  border: 1px #000000 solid;
  background: #FFFFFF;
}

#mainnav ul .thefirst{
  background: #FFFFFF;
}
#mainnav ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 0 16px;
  display: block;
}
#mainnav li:hover{
  background: #eaa5c1;
}
#mainnav .sub-menu{
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
  display: none;
  text-align: left;
  border-left: 1px solid #eaa5c1;
  font-size: 90%;
  border-radius: 0px 10px 10px 0px;
}
#mainnav li:hover .sub-menu{
  display: block;
  background: #eaa5c1;
  color: red;
}
#mainnav .sub-menu2{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 1px solid #eaa5c1;
  border-radius: 0px 10px 10px 0px;
  display: none;
}
#mainnav .sub-menu li:hover .sub-menu2{
  display: block;
}
#mainnav .sub-menu3{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 1px solid #eaa5c1;
  border-radius: 0px 10px 10px 0px;
  display: none;
}
#mainnav .sub-menu2 li:hover .sub-menu3{
  display: block;
}
