/* CSS Document */

.box{
  width: 300px;
  height: 40px;
  border: 0px solid #FFFFFF;
  float: right;	
  margin-right: 20px
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 40px;
  background: #eaa5c1;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
	position: absolute;
	top: -16px;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
	left: -16px;
}
